<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT ME</h2>
                <hr class="light">
                <p class="text-faded">어렸을적에는 그저 컴퓨터로 게임밖에 안했지만 고등학교 시절 친구의 소개로 C언어를 배우게되었고 그 이후 컴퓨터프로그래밍에 관심이 생겼습니다. 이후 아버지의 영향으로 웹사이트 제작과 영상편집 등의 흥미를 느끼게 되어 현재 진로를 웹쪽으로 잡고 공부하고 있습니다.</p><br>
                <a class="page-scroll" href="#services" class="btn btn-default btn-xl">MORE INFO</a>
            </div>
        </div>
    </div>
</section>
