<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2>FORK</h2>
                <hr class="light">
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                            <h4 class="light">UNITY</h4>
                    <p class="light">어릴적부터 게임을 좋아해 게임개발을 한번쯤 해보고 싶다는 생각이 있었는데 이번 소프트웨어 분석 및 설계 수업을 통하여 유니티에 대해 공부할 기회가 생겨 필요한 정보를 얻을 수 있을 것 같아서 선택하였습니다</p>
                     <P class-"light">주소 : https://github.com/UnityCommunity/UnityLibrary</p><br>
            </div>
           <div class="col-lg-12 text-center">
                            <h4 class="light">CSS</h4>
                    <p class="light">HTML을 공부하면서 자연스레 CSS에도 관심이 생겼고 HTML과 CSS를 공부하는데에 있어서 도움이 될 것 같다고 생각되어 선택하였습니다</p>
                     <P class-"light">주소 : https://github.com/DjangoGirls/tutorial</p><br>
            </div>
        </div>
    </div>
</section>
